NEXT_PUBLIC_APP_NAME=Desree Home Service
NEXT_PUBLIC_TAGLINE=Fix Your Home, Fix Your Day – Reliable Home Services at Your Fingertips

NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

FIREBASE_ADMIN_PROJECT_ID=
FIREBASE_ADMIN_CLIENT_EMAIL=
FIREBASE_ADMIN_PRIVATE_KEY=

NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=

NEXT_PUBLIC_FCM_VAPID_KEY=

NEXT_PUBLIC_DEFAULT_CITY=Awka

NEXT_PUBLIC_PWA_APP_ICONS_PATH=/icons
NEXT_PUBLIC_BASE_URL=http://localhost:3000
